In [1]:
import csv
import multiprocessing
import os

import pandas as pd

sanitized_dataset_url = "/home/hx/Storage/Work/TUB/Datasets/WISENT-CIDDS-001/CIDDS-001/cidds-sanitized.csv"
cols = ['Packets', 'Src IP Addr', 'Src Pt', 'Dst IP Addr', 'Dst Pt', 'Proto', 'Packets',
        'attackType']

# Delete dataset if already existing
try:
    os.remove(sanitized_dataset_url)
except FileNotFoundError:
    print("Sanitized dataset not found. Assuming new run...")
pd.options.display.max_rows = 10

# Write column names at the start of our csv file
with open(sanitized_dataset_url, 'w') as f:
    f.seek(0)  # get to the first position
    wr = csv.writer(f)
    wr.writerow(cols + ['subnet'])


def read_csv(path, subnet_nb):
    df_reader = pd.read_csv(path,
                            header=0,
                            delimiter=",",
                            chunksize=500,
                            usecols=cols)

    with open(sanitized_dataset_url, 'a') as sanitized_df:
        for chunk in df_reader:
            chunk['subnet'] = subnet_nb
            chunk = chunk.replace({'Proto': {'TCP  ': 0, 'IP  ': 1}})
            chunk.to_csv(sanitized_df, header=False)
        sanitized_df.close()
        df_reader.close()
    return path

def callback(path):
    print('Processed' + path)
# Reads csv in parallel 
pool = multiprocessing.Pool(processes=multiprocessing.cpu_count())

for i in range(1, 5):
    pool.apply_async(read_csv, args=(
        "/home/hx/Storage/Work/TUB/Datasets/WISENT-CIDDS-001/CIDDS-001/traffic/ExternalServer/CIDDS-001-external-week" + str(
            i) + ".csv", 1),
                     callback=callback)

for i in range(1, 5):
    pool.apply_async(read_csv, args=(
        "/home/hx/Storage/Work/TUB/Datasets/WISENT-CIDDS-001/CIDDS-001/traffic/OpenStack/CIDDS-001-internal-week" + str(
            i) + ".csv", 0),
                     callback=callback)

pool.close()
pool.join()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Packets</th>
      <th>Src IP Addr</th>
      <th>Src Pt</th>
      <th>Dst IP Addr</th>
      <th>Dst Pt</th>
      <th>Proto</th>
      <th>Packets.1</th>
      <th>attackType</th>
      <th>subnet</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>0</td>
      <td>192.168.220.15</td>
      <td>40289</td>
      <td>192.168.100.5</td>
      <td>445</td>
      <td>2</td>
      <td>---</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>0</td>
      <td>192.168.100.5</td>
      <td>445</td>
      <td>192.168.220.15</td>
      <td>40289</td>
      <td>1</td>
      <td>---</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>UDP</td>
      <td>192.168.200.4</td>
      <td>137</td>
      <td>192.168.200.255</td>
      <td>137</td>
      <td>1</td>
      <td>---</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>0</td>
      <td>192.168.100.5</td>
      <td>445</td>
      <td>192.168.220.4</td>
      <td>39467</td>
      <td>1</td>
      <td>---</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>0</td>
      <td>192.168.220.4</td>
      <td>39467</td>
      <td>192.168.100.5</td>
      <td>445</td>
      <td>2</td>
      <td>---</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

In [5]:
df = pd.read_csv(sanitized_dataset_url, chunksize=5)
df.get_chunk()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Packets</th>
      <th>Src IP Addr</th>
      <th>Src Pt</th>
      <th>Dst IP Addr</th>
      <th>Dst Pt</th>
      <th>Proto</th>
      <th>Packets.1</th>
      <th>attackType</th>
      <th>subnet</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>0</td>
      <td>192.168.220.15</td>
      <td>40289</td>
      <td>192.168.100.5</td>
      <td>445</td>
      <td>2</td>
      <td>---</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>0</td>
      <td>192.168.100.5</td>
      <td>445</td>
      <td>192.168.220.15</td>
      <td>40289</td>
      <td>1</td>
      <td>---</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>UDP</td>
      <td>192.168.200.4</td>
      <td>137</td>
      <td>192.168.200.255</td>
      <td>137</td>
      <td>1</td>
      <td>---</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>0</td>
      <td>192.168.100.5</td>
      <td>445</td>
      <td>192.168.220.4</td>
      <td>39467</td>
      <td>1</td>
      <td>---</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>0</td>
      <td>192.168.220.4</td>
      <td>39467</td>
      <td>192.168.100.5</td>
      <td>445</td>
      <td>2</td>
      <td>---</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

## Exploratory Data Analysis

In [6]:
src_ip_set = df['Src IP Addr'].unique()
dest_ip_set = df['Dst IP Addr'].unique()

atk_type_set = df['attackType'].unique()
print("Number of different source IPs : " + str(len(src_ip_set)))  # A lot of different IPs!
print("Number of different destination IPs : " + str(len(dest_ip_set)))  # A lot of different IPs!

df.loc[df['attackType'] == 'portScan']

TypeError: 'TextFileReader' object is not subscriptable

## Preprocessing

In [1]:
import tensorflow as tf
with tf.Session():
  input = tf.placeholder(tf.float32)
  classifier = ...
  print(classifier.eval(feed_dict={input: my_python_preprocessing_fn()}))

NameError: name 'df' is not defined

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Proto</th>
      <th>Src IP Addr</th>
      <th>Src Pt</th>
      <th>Dst IP Addr</th>
      <th>Dst Pt</th>
      <th>Packets</th>
      <th>attackType</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>TCP</td>
      <td>19394_40</td>
      <td>54719</td>
      <td>EXT_SERVER</td>
      <td>23.0</td>
      <td>1</td>
      <td>---</td>
    </tr>
    <tr>
      <th>1</th>
      <td>TCP</td>
      <td>EXT_SERVER</td>
      <td>23</td>
      <td>19394_40</td>
      <td>54719.0</td>
      <td>1</td>
      <td>---</td>
    </tr>
    <tr>
      <th>2</th>
      <td>TCP</td>
      <td>19395_18</td>
      <td>4622</td>
      <td>EXT_SERVER</td>
      <td>7547.0</td>
      <td>1</td>
      <td>---</td>
    </tr>
    <tr>
      <th>3</th>
      <td>TCP</td>
      <td>EXT_SERVER</td>
      <td>7547</td>
      <td>19395_18</td>
      <td>4622.0</td>
      <td>1</td>
      <td>---</td>
    </tr>
    <tr>
      <th>4</th>
      <td>TCP</td>
      <td>11246_253</td>
      <td>6000</td>
      <td>EXT_SERVER</td>
      <td>3306.0</td>
      <td>1</td>
      <td>---</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>159368</th>
      <td>TCP</td>
      <td>OPENSTACK_NET</td>
      <td>54997</td>
      <td>EXT_SERVER</td>
      <td>8082.0</td>
      <td>15010</td>
      <td>---</td>
    </tr>
    <tr>
      <th>159369</th>
      <td>TCP</td>
      <td>EXT_SERVER</td>
      <td>8082</td>
      <td>OPENSTACK_NET</td>
      <td>54695.0</td>
      <td>11650</td>
      <td>---</td>
    </tr>
    <tr>
      <th>159370</th>
      <td>TCP</td>
      <td>OPENSTACK_NET</td>
      <td>54695</td>
      <td>EXT_SERVER</td>
      <td>8082.0</td>
      <td>18571</td>
      <td>---</td>
    </tr>
    <tr>
      <th>159371</th>
      <td>TCP</td>
      <td>EXT_SERVER</td>
      <td>8082</td>
      <td>OPENSTACK_NET</td>
      <td>54853.0</td>
      <td>13176</td>
      <td>---</td>
    </tr>
    <tr>
      <th>159372</th>
      <td>TCP</td>
      <td>OPENSTACK_NET</td>
      <td>54853</td>
      <td>EXT_SERVER</td>
      <td>8082.0</td>
      <td>19222</td>
      <td>---</td>
    </tr>
  </tbody>
</table>
<p>159373 rows × 7 columns</p>
</div>